<p id="notice"><%= notice %></p>


<!--
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Description</th>
      <th>Persons</th>
      <th>Price</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->
  <% if current_user %>
  <h2>Welcome, <%= current_user.name %></h2>
  <p>Glad you could join us.</p>

  <% else %>
  <h1>Welcome</h1>
  <% end %>

    <% @tipis.each do |tipi| %>
<div class="container">
    <div class="row">
        <div class="col-md-8" .col-md-8>
            <%= tipi.title %><br>
            <%= tipi.location %><br>
            <%= tipi.description %><br>
            <%= tipi.persons %><br>
            <%= tipi.price %><br>
        </div>
              <div class="col-md-4" .col-md-4>
                  <%= image_tag tipi.image, size: "350x200" %><br>
              </div>
    </div>
</div>
        <br>

    <% end %>


<br>
