<p id="notice"><%= notice %></p>

<h1>Rent a tipi!</h1>
<!--
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Location</th>
      <th>Description</th>
      <th>Persons</th>
      <th>Price</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->
  <% if current_user %>
  <h2>Welcome, <%= current_user.name %></h2>
  <p>Glad you could join us.</p>

  <% else %>
  <h1>Welcome</h1>
  <p>Please <%= link_to "register", new_user_path %> first.</p>
  <% end %>

    <% @tipis.each do |tipi| %>
<div class="content">
        <%= tipi.title %><br>
        <%= tipi.location %><br>
        <%= tipi.description %><br>
        <%= tipi.persons %><br>
        <%= tipi.price %><br>
        <%= image_tag tipi.image, size: "200x150" %><br>
        </div>
        <br>

    <% end %>


<br>
