<h1>Welcome!</h1>

<p>Please provide your name to continue to our site.</p>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited your name from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-12 login-field">
      <div class="field">
        <ul class="no-bullets">
          <li><%= f.label :name %><br></li>
          <li><%= f.text_field :name, :autofocus => true, :required => true, :placeholder => "John Doe"  %></li>
          <li><%= f.label :email %><br></li>
          <li><%= f.text_field :email, :required => true, :autocomplete => "email", :placeholder => "i.e. johndoe@mail.nl" %></li>
          <li><%= f.submit "Continue" %></li>
        </ul>
      </div>
    </div>
<% end %>
</div>
