<!DOCTYPE html>
<html>
<head>
  <title>Tipis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-lg-12 title-box">
      <h1 class="rent-title">Rent a Tipi!</h1>
    </div>
  </div>
</div>

<div class="container big-box">



<div class="btn-group">
  <% if current_user %>

<!-- <%= link_to "Log out", user_path(current_user), method: :delete %> -->
<%= link_to "Log out",user_path(current_user), method: :delete, class: "btn btn-primary btn-lg active" %>

  <% else %>
</div>

<p>Please <%= link_to "register", new_user_path %> first.</p>

<% end %>

<div class="content">
  <div class="background">
  </div>
</div>

<div id="main">

<%= yield %>
</div>
<br>
</body>
</html>
