<!DOCTYPE html>
<html>
<head>
  <title>Tipis</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<div class="header">
</div>

<% if current_user %>

<%= link_to "Log out", user_path(current_user), method: :delete %>
<% else %>

<p>Please <%= link_to "register", new_user_path %> first.</p>

<% end %>

<div class="content">
  <div class="background">
  </div>
</div>

<%= yield %>

</body>
</html>
